body{
    background-color:#3E7CB1
}

nav{
    background-color:#336691
}

li{
    //display:none;
}


.auto{
    margin: auto;
}
.center-panel{
    display: flex;
    position:absolute;
    bottom: 0;
    top: 65px;
    width: 100%;
}
